body{
    width: 100%;
    margin: 0px;
}
@font-face {
    font-family:'FrederickatheGreat.ttf';
    src: url(./fonts/FrederickatheGreat-Regular.ttf);
    font-family:'montserrat.ttf';
    src: url(./fonts/montserrat.regular.ttf);
    font-family:'gabelisa.ttf';
    src: url(./fonts/gabelisa.ttf);
}
.header_bg{
    background-color: #ffdf01;
    height: 825px;
    position: relative;
}
.header_bg2 {
    float: right;
    width: 456px;
    border-left: 160px solid transparent;
    border-bottom: 825px solid #ebe9ab;
  }
  .header_content{
    position: absolute;
    top: 10px;
    width: 95%;
    padding: 30px;
  }
  .head_one{
    display: flex;
    justify-content: space-between;
  }
  .head_one_txt{
    float: left;
  }
  .head_one_txt1{
    font-size: 17px;
    font-weight: bold;
    font-family:' montserrat.ttf';
  }
  .head_one_txt2{
    font-size: 27px;
    font-weight: bold;
    font-family:' montserrat.ttf';
}
.head_one_txt3{
    float: left;
}
.head_two{
    width: 100%;
    display: flex;
    justify-content: end;
}
.head_nav{
    float: right;
    padding: 30px 0px;
}
.head_nav_item{
    font-size: 17px;
    padding: 0px 0px 0px 130px;
    font-weight: bold;
    font-family:' montserrat.ttf';
}
.head_three{
    text-align: center;
    display: flex;
    padding:20px;
    position: relative
}
.header_txt1{
    font-family:'gabelisa.ttf' ;
    font-size:58px ;
    padding: 25px 0px 0px 0px;
}
.header_txt2{
    font-family:'FrederickatheGreat.ttf' ;
    font-size:90px ;
    padding: 5px 0px;
}
.header_txt3{
    font-family:' montserrat.ttf' ;
    font-size:27px ;
    font-weight: bold;
    padding: 5px 0px;
}
.header_txt4{
    font-family:'FrederickatheGreat.ttf' ;
    font-size:19px ;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 15px 0px;
}
.head_border{
    border-top: 2px solid navajowhite;
    width: 469px;
    margin: 30px;
}
.head_num{
    font-size: 57px;
}
.order_now_button{
    padding: 15px 25px;
    font-weight:bolder;
    border: 1px solid black;
    background-color: #ffdf01;
    font-size: 21px;
    font-family:' montserrat.ttf' ;
}
.head_leaf{
    position: absolute;
    top: 5px;
    left: 0px;
    transform: rotate(-20deg);
}
.head_pasta{
    position: absolute;
    top: 10px;
    left: 620px;

}
.head_pasta_dish{
    position: absolute;
    top: 30px;
    right: 145px;
    
}
.head_leaf1{
    position: absolute;
    bottom: -90px;
    right: 70px;
}
.head_tomato{
    position: absolute;
    bottom: -100px;
    right: 750px;
}
.head_spaghetti{
    position: absolute;
    bottom: -270px;
    left: -190px;
}